{% extends "layout.html" %}

{% block content %}

<div class="card m-5" xmlns="http://www.w3.org/1999/html">
    <div class="card-body m-2">
        <h1 class="card-title text-center">Sex Trafficking Prevalence Project: Privacy Notice and Informed Consent</h1>
        <br>
        <h3>Who are we?</h3>
        <p>
        We are a group of researchers at the University of Nottingham studying sex trafficking in England
        and around the world. For this study, we are seeking to understand the prevalence of sex trafficking of men 
        and boys in different areas of England. 
        Currently there is no reliable baseline data about the prevalence of sex trafficking of men and boys in England. 
        Consequently, it is difficult to judge whether government policies and local support services are effectively 
        utilising resources to target men and boys in the most ‘at risk’ areas. Given the known risk to women and girls, men 
        and boy survivors are often overlooked. Therefore, this study aims to rank regions in England by rate of sex trafficking 
        of men and boys. 
        <p>

        <b>It is important to note that the research team acknowledge the difference between those who identify as 
        sex workers and those who identify as having been sex trafficked. This research project aims to understand the prevalence 
        of sex trafficking of men and boys, and not the prevalence of sex work by men and boys. </b>
        </p>
        
        <p>
        If you have any questions about the research, please contact:
        </p>


        <p>
        <ul>
            <li>Dr Rowland Seymour (rowland.seymour@nottingham.ac.uk)</ii>
            <li>Dr Andrea Nicholson (andrea.nicholson@nottingham.ac.uk)</li>
            <li>Research Ethics Committee Chair (lz-rightslabethics@exmail.nottingham.ac.uk) </li>
        </ul>
        </p>

        <p>
        Recent outputs from our existing work on forced marriage can be found at forcedmarriageresearch.ac.uk.
        </p>
        <h3>Why are you being asked to take part in this research?</h3>
        <p>
            We want to record your views about different regions of England. You are being asked because 
            you live and/or work or study in England. You may also be an expert in this area, but we 
            are also interested in your opinions even if you don’t work in this area. Our research 
            method relies on the “wisdom of the crowd”, so we want to hear from everyone.
        </p>
        <h3>What will happen to the data you give</h3>
        <p>
        We are not asking for any personal information from you that could be used to identify you. 
        Your answers will be anonymous. 
        
        We will process the data you do give us about your perception of the prevalence and risk of 
        sex trafficking in different regions in England in line with the 
        University’s data-handling policies. We will keep it for as long as we are working on 
        this topic. We will publish the dataset in an open-access repository so other 
        researchers can use it too in future.
        </p>
        <h3>By clicking “I consent” you are agreeing to this use of the data you give us.</h3>
        <p>
        Many thanks for taking the time to complete our survey on this important topic. 
        Your answers will help us understand the prevalence of sex trafficking of men 
        and boys in different areas of England, and hopefully build towards effective means of 
        ending it by 2030 in line with the Sustainable Development Goals.
        </p>
        <h4>University of Nottingham Rights Lab.</h4>
        <br>
    </div>
    <form class="card-footer text-muted mx-auto bg-white border-top-0" action="{{ url_for('views.introduction') }}">
        <button type="submit" style="width: 200px; height: 50px" class="btn btn-sm btn-outline-secondary bg-success text-white">I consent</button>
    </form>
</div>

{% endblock %}